
<title>Hello Spring</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge" />


<meta name="title" content="Hello Spring">
<meta name="robots" content="noindex" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Russian">
<meta name="revisit-after" content="3 days">


<link rel="apple-touch-icon" sizes="144x144" href="http://hellospring.store/upload/landing/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://hellospring.store/upload/landing/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://hellospring.store/upload/landing/favicon-16x16.png">
<link rel="manifest" href="http://hellospring.store/upload/landing/site.webmanifest">
<link rel="mask-icon" href="http://hellospring.store/upload/landing/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">





<link rel="stylesheet" href="css/index.css" />

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

